{% if kit_peerServerPort is defined %}
nxt.peerServerPort={{ kit_peerServerPort }}
{% endif %}

{% if kit_ServerHost is defined %}
nxt.peerServerHost={{ kit_ServerHost.stdout|default(kit_ServerHost) }}

nxt.apiServerHost={{ kit_ServerHost.stdout|default(kit_ServerHost) }}

nxt.uiServerHost={{ kit_ServerHost.stdout|default(kit_ServerHost) }}
{% endif %}

nxt.myAddress={{ inventory_hostname }}{% if kit_announcedPort is defined %}{{ ":" ~ kit_announcedPort }}{% endif %}

nxt.myPlatform={{ kit_myPlatform|default("nxt.now.im") }}

nxt.myHallmark={% set hallmark_default = "{\"hallmark\":\"{{ hallmark_predef|default("") }}\"}" %}{% set hallmark_stdout = (hallmark_result.stdout if hallmark_result is defined)|default(hallmark_default) %}{% set hallmark_jsoned = hallmark_stdout|from_json %}{{ hallmark_jsoned.hallmark }}

nxt.wellKnownPeers=87.230.14.1; 46.19.137.116; 95.85.22.142; node18.nxtbase.com; node10.nxtbase.com; vps1.nxtcrypto.org; vps2.nxtcrypto.org; vps3.nxtcrypto.org; vps4.nxtcrypto.org; vps5.nxtcrypto.org; node16.nxtbase.com; node29.nxtbase.com; 162.243.214.183; 162.243.213.115; 95.85.46.233; 162.243.140.133; 146.185.129.54; 162.243.143.15; 109.230.224.65; 54.249.101.252; 37.209.120.192; 84.112.39.24; 78.46.63.221; 69.163.47.173; 95.85.46.233; 162.243.140.133; 146.185.129.54; 162.243.117.63; 192.241.155.44; 162.243.143.15; 93.190.92.74; 37.209.120.192; 93.190.92.75; 85.25.134.59; 93.190.92.76; nxtwallet.com; nxt.ddos.me; 203.174.12.25; 88.198.142.92; 66.197.138.90; 64.120.180.106; 109.230.224.65; 80.86.92.50; nxt.homer.ru; 31.204.130.123; 209.222.0.194; 209.222.16.10; cubie-solar.mjke.de;

nxt.allowedBotHosts=*

{% if kit_apiServerPort is defined %}
nxt.apiServerPort={{ kit_apiServerPort }}
{% endif %}

{% if kit_uiServerPort is defined %}
nxt.uiServerPort={{ kit_uiServerPort }}
{% endif %}

nxt.allowedUserHosts=*

nxt.log=nxt-{{ nxt_conf_name }}.log

nxt.debug=true

nxt.debugJetty=true
